# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Django migrations (optional, if you want to ignore)
*.sqlite3
*/migrations/*.pyc
*/migrations/__pycache__/

# IDE/editor settings
.vscode/
.idea/
